# output/temp files
*.bak
*.txt
*.dat
*.data
*.csv
*.json
*.xml
*.yaml
*.yml
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.gz 
*.png   

# exception for cmake
!CMakeLists.txt
!CMakePresets.json

# local graphics and plots
plots/

# build and results dir
build/
results*
results_dir
results_dir/*

# new and old binaries
*.x
optimize_comparison_bins/
bins/
old_bins/

# local scratch
*.local

# convert_to_mp4.sh
# compare_tgv_slices.py